@model AzureRetailApp.Models.CustomerEntity

<h2>Add Customer</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
